body{
    font-family: 'Open Sans', sans-serif;
}

/* main{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}
.top-left-title{
    margin-left: 72px;
    margin-top: 60px;
}
.flexible-container{
    display: flex;
    /* margin-bottom: 80px; */
}
.half-width{
    width: 50%;
    padding: 5%;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    background-color: #E02C6D;
    color: white;
    padding: 10px 30px;
    border-radius: 41px;
}

.sec1-para{
    margin-bottom: 40px;
}

hr{
    border: 1px solid #D1D1D1;
}
/*-------------------
    product styles 
--------------------*/
.products-container{
    margin-top: 102px;
}
.section-title{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    margin-bottom: 60px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 24px; */
    grid-row-gap: 50px;
}
.product{
    justify-content: center;
    align-items: center;
}
.product-title{
    color: #18191F;
}
.product-price{
    font-size: 24px;
}
.fa-star, .fa-star-half-alt{
    font-size: 12px;
}

.fa-star.filled{
    color: #FB8200;
}
.fa-star-half-alt{
    color: #FB8200;
}
.product-para{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.link-button2{
    text-align: right;
    margin-right: 141px;
    margin-top: 50px;
}
.link-button2 a{
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
}